/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 200px;
  background-color: #373636;
}

.container-black {
  background-color:#373636;
  height:60px;
}

.container-grey {
  background-color:#9b9999;
  height:70px;
}

.textwidget {
  width: 33.333%;
  float:left;
  text-align:center;
}

/* Status CSS
-------------------------------------------------- */

.imgheader {
  position:relative;
  padding-top:4px!important;
  padding-bottom:4px!important;
  padding-left:4px!important;
  padding-right:4px!important;
}

.text-container {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1rem;
  color: #cccccc;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}